a {
    text-decoration: none !important;
}
body {
    font-family: "Poppins", sans-serif !important;
    color: black;
    margin: 0px;
    padding: 0px;
    height: 880px;
    background-image: url("/image/ats.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: top left;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(187, 187, 187);
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(175, 175, 175);
}
.ts {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.container-fluid {
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
}
.ats {
    height: 130px;
    color: white;
}
.stb {
    width: 78px;
    height: 80px;
    margin-left: 28px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.col-5 {
    display: inline-flex;
}
.tlss {
    margin-top: 40px;
}
.tlss h2 {
    color: black;
    font-weight: 700;
    line-height: 0.7;
}
.tlss p {
    color: black;
    font-size: 2rem !important;
}
a:hover {
    cursor: pointer;
}
.bttn {
    text-decoration: none !important;
    border: none;
    outline: none;
    position: absolute;
    top: 45px;
    right: 40px;
    color: white !important;
    float: left;
    border-radius: 10px;
    padding: 8px 30px;
    background: rgb(0, 135, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.bttn2 {
    text-decoration: none !important;
    border: none;
    outline: none;
    position: absolute;
    top: 48px;
    right: 150px;
    color: black;
    float: right;
    width: 150px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.bttn2:hover {
    color: rgb(0, 135, 255);
}
.bttn3 {
    text-decoration: none !important;
    border: none;
    outline: none;
    position: absolute;
    top: 48px;
    right: 310px;
    color: black;
    float: right;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.bttn3:hover {
    color: rgb(0, 135, 255);
}
.breadcrumb a {
    text-decoration: none !important;
}
.keySearch {
    outline: none;
    color: black;
    background-image: url("/image/search.svg");
    background-position: 15px 14.5px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border-radius: 10px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}
.card-content-list {
    height: auto;
    max-height: 100vh;
    overflow-y: scroll;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 10px;
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
}
.products-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.products-list .item {
    background: #fff;
    padding: 10px 0;
}

.product-list-in-card .item {
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.product-list-in-card > .item {
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.products-list > .item {
    border-radius: 0.25rem;
    background: #fff;
    padding: 10px 0;
}
.bg-blue-adinusa {
    background-color: #4d94ff !important;
}
.text-white {
    color: #fff;
}
h6 {
    color: black !important;
}
.text-white {
    color: #fff !important;
}
.p-3 {
    padding: 1rem !important;
}
.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.btn.active,
.btn:active {
    background: none;
    background-image: none;
    outline: 0 !important;
    border: none !important;
    box-shadow: none !important;
}
.offset-2 {
    margin-left: 8%;
}
.card {
    color: black;
    border: none !important;
}
.card-header {
    display: flex;
    background-color: transparent;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.125);
    position: relative;
    padding: 0.75rem 1.25rem;
}
.card-header h1 {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 10px 15px;
}
.card-footer {
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 0 solid rgba(0, 0, 0, 0.125);
}
.bg-maroon,
.bg-maroon > a {
    color: #fff !important;
}
.bg-maroon {
    background-color: #d81b60 !important;
}
.float-right {
    float: right !important;
}
.btn {
    border-radius: 10px !important;
    color: white !important;
}
.fa {
    padding: 0 0 0 10px;
}
.judul {
    color: black;
}
.judul:hover {
    color: #5e5e5e;
}
h5 {
    margin-top: 2px !important;
    margin-bottom: 0 !important;
}
@media screen and (max-width: 1200px) {
    .col-lg-4 {
        width: 35%;
    }
    .col-lg-8 {
        width: 65% !important;
    }
    h6 {
        font-size: 11px !important;
        color: black !important;
    }
    .card-header h1 {
        font-size: 3rem;
        font-weight: 900;
    }
    .card-body p {
        font-size: 12px;
    }
    .card-body li {
        font-size: 12px;
    }
    .btn {
        border-radius: 5px !important;
        padding: 3px 6px !important;
    }
}
